AleaTests/
packages/
PTGI_Denoiser/bin/
PTGI_Denoiser/obj/
PTGI_Remastered/bin/
PTGI_Remastered/obj/
PTGI_UI/bin/
PTGI_UI/obj/
PTGI_Remastered.Benchmarks/bin/
PTGI_Remastered.Benchmarks/obj/
PTGI_Remastered.Interfaces/bin/
PTGI_Remastered.Interfaces/obj/
.vs/
.idea/